<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="" class="navbar-brand" href="/index">
        Guia Press
    </a>
    <ul class="navbar-nav mr-auto">
        <li><a class="nav-link" href="/">Home</a></li>
        <% categories.forEach(category =>{ %>
            <li><a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a></li>
        <% }) %>
       
    </ul>
    <ul class="navbar-nav ml-auto">
        <li>
            <a class="nav-link" href="/login">Login</a>
        </li>
    </ul>
</nav>