<nav class="navbar navbar-default bg-light">
    <div class="container-fluid justify-content-center">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img id="img-login" src="../img/login.png"  alt="figura de login"></a>
      </di>
    </div>
</nav>